<a href="/admin-aluguel">Voltar</a>
{{#data}}
<p>Gerenciamento do aluguel do cliente {{nome}}, carro {{modelo}} com diaria de {{diaria}}</p>
<form name="cadastro" action="/atualizar-aluguel/{{CodAlu}}" method="POST">
    <label>Data de inicio do aluguel </label>
    <input type="date" name="date_start" id="date_start"/><br/>
    <label>Data de termino do aluguel </label>
    <input type="date" name="date_end" id="date_end"/><br/>
    <input type="submit" name="signup" id="signup" value="Atualizar"/><br/>
</form>
{{/data}}