<a href="/">Voltar</a>
<form name="login" action="home" method="POST">
    <label>Usuario</label>
    <input type="text" name="user" id="user" placeholder="Usuário"/><br/>
    <input type="submit" name="login" id="login" value="Login"/><br/>
</form>
<a href="cadastro">Cadastre-se</a>