<a href="/">Voltar</a>
{{#each erros}}
<div class="alert alert-danger">{{texto}}</div>
{{/each}}
<form name="login" action="" method="POST">
    <label>Usuario</label>
    <input type="text" name="user" id="user" placeholder="Usuário"/><br/>
    <input type="submit" name="login" id="login" value="Login"/><br/>
</form>
<a href="/cliente_cadastro">Cadastre-se</a>