<a href="/cliente">Voltar</a>
<form name="cadastro" action="cliente" method="POST">
    <label>Nome de Usuario</label>
    <input type="text" name="user" id="user" placeholder="Usuário"/><br/>
    <label>Nome Completo</label>
    <input type="text" name="name" id="name" placeholder="Nome"/><br/>
    <label>CNH</label>
    <input type="text" name="cnh" id="cnh" placeholder="CNH"/><br/>
    <label>Endereco</label>
    <input type="text" name="endereco" id="endereco" placeholder="Endereço"/><br/>
    <input type="submit" name="cadastro" id="cadastro" value="Cadastrar-se"/><br/>
</form>